!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en" }
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge", chrome=1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    = csrf_meta_tags
    %title= @title || "Marcos Yu - Ruby on Rails Developer"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application'
  %body
    =render :partial=>'layouts/header'
    <noscript><div class="noscript-message"><font face=arial>JavaScript must be enabled in order for you to use the Guyana E-services. However, it seems JavaScript is either disabled or not supported by your browser. Please enable Javascript from your browser options and <a href="">try again</a>.</font></div></noscript>
    = yield
